.homeScreen {
  width: 100%;
  height: 100vh;
  background-color: #424549;
  padding: 20px;
  display: flex;
  overflow: hidden;
}

.formContainer {
  background-color: #424549;
  width: 100%;
  padding: 20px;
  /* position: fixed;
  z-index: 10;
  bottom: 0px;
  left: 0; */
}

.homeScreen__chat {
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #5c6066;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 5px;
}

.homeScreen__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homeScreen__form > input {
  align-self: stretch;
  padding: 10px;
  background-color: teal;
}

.myMessage {
  text-align: right;
}

.homeScreen__left {
  width: 300px;
}

.homeScreen__right {
  height: 100vh;
  background-color: #424549;
  padding: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  /* overflow: hidden; */
}
